

Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.14.0
pymongo==4.3.3
httpcore==0.14.5
httplib2==0.20.2
httpx==0.22.0
gunicorn==20.1.0
lazr.restfulclient==0.14.4
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
importlib-metadata==4.6.4
